POSTGRES_USER=exampleuser   
POSTGRES_PASSWORD=examplepass
POSTGRES_DB=exampledb
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}
PGADMIN_EMAIL=example@example.com
PGADMIN_PASSWORD=examplepass