POSTGRES_USER=exampleuser   
POSTGRES_PASSWORD=examplepass
POSTGRES_DB=exampledb
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}
PGADMIN_EMAIL=example@example.com
PGADMIN_PASSWORD=examplepass

JWT_ACCESS_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_ACCESS_PRIVATE_KEY\n-----END PRIVATE KEY-----
JWT_ACCESS_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nREPLACE_WITH_YOUR_ACCESS_PUBLIC_KEY\n-----END PUBLIC KEY-----
JWT_REFRESH_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_REFRESH_PRIVATE_KEY\n-----END PRIVATE KEY-----
JWT_REFRESH_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nREPLACE_WITH_YOUR_REFRESH_PUBLIC_KEY\n-----END PUBLIC KEY-----

# OpenWeatherMap API
OPENWEATHER_API_KEY=your_openweathermap_api_key_here

# GitHub Token (optional, for higher rate limits)
GITHUB_TOKEN=your_github_personal_access_token_here
